.board-container {
    display: grid;
    /* height: 8em; */
    background-color: black;
    /* gap: 1px; */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background: #eee;
    border: 1px solid #ccc;
    padding: 10px;
    height: 95vh;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.piece {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.piece:hover {
    cursor: pointer;
    -webkit-box-shadow: inset 0px 0px 50px 5px yellow, 0 0 15px 0px yellow;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    inset 0px 0px 50px 5px yellow, 0 0 15px 0px yellow;  /* Firefox 3.5 - 3.6 */
    box-shadow:         inset 0px 0px 50px 5px yellow, 0 0 15px 0px yellow;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.movable {
    -webkit-box-shadow: inset 0px 0px 50px 5px rgb(85, 85, 85), 0 0 15px 0px rgb(85, 85, 85);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    inset 0px 0px 50px 5px rgb(85, 85, 85), 0 0 15px 0px rgb(85, 85, 85);  /* Firefox 3.5 - 3.6 */
    box-shadow:         inset 0px 0px 50px 5px rgb(85, 85, 85), 0 0 15px 0px rgb(85, 85, 85);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.movable:hover {
    cursor: pointer;
}