.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.result-txt {
    margin-bottom: 1rem;
}

.win-bg {
    background-color: rgba(61, 165, 58, 0.68) !important;
}

.lose-bg {
    background-color: rgb(216, 17, 17, 0.83) !important;
}